header{
	
	text-align:center;
   font-size: 30px;
   background-color:#eee;

   border-bottom: 0px  solid #eee;
 

   top: 0;
   width: 100%;
  
}


.img{
    margin-top: 18px;
    
}
.btn-primary{
    width:100px;
}
.function{

    align-content: center;
    margin-left: 924px;
    font-size: large;
    padding-top: 14px;
}

.small_banner img {
    width: 100%;

}
