.header{
    position: fixed;
    background-color: wheat;
    cursor: pointer;
}
span{
    background-color: rgb(20, 131, 109);
    color: white;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}