<div class="container">
    <button (click)="profilefor()" onclick="this.disabled=true">Generate</button>
        <input  type="text"[(ngModel)]="formno"><br>
        <div id="fields" *ngFor="let field of fields">
              {{field.fieldName}}
        </div>
        <span *ngFor="let form of nofemps">
                {{nofemps.length}}    
        <form [formGroup]="regEmpForm" (ngSubmit)="multiformController()" #userForm="ngForm" method="post" role="form" style="display: block;" id={{nofemps.length}}>
               <td><input type="text" formControlName="name" placeholder="Name" class="form-control" ></td> 
               <td><input type="email"   formControlName="employeeid" placeholder="EmpID" class="form-control"></td>        
               <td><input type="password"  formControlName="issuedDate"  placeholder="IssuesOn" class="form-control"></td>        
               <td><input type="password"   formControlName="address" placeholder="Address" class="form-control"></td>        
               <td><input type="text"   formControlName="companyName" placeholder="CompanyName" class="form-control"></td>
               <td><input type="text" formControlName="bloodGroup" placeholder="BloodGroup" class="form-control" ></td>         
               <td><input type="text" formControlName="contactNumber" placeholder="Phone" class="form-control" ></td>         
               <td><input type="email"   formControlName="dob" placeholder="DOB" class="form-control"></td>        
               <td><input type="password"  formControlName="size"  placeholder="size" class="form-control"></td>        
               <td><input type="password"   formControlName="employeeImage" placeholder="EmployeePic" class="form-control"></td>        
               <td><input type="file"   formControlName="companylogo" placeholder="CompanyLoGo" #companylogo class="form-control"></td>        
               <input type="submit" value="Submit">
        </form>     
    </span>    
</div>




