<form [formGroup]="idForm" novalidate (ngSubmit)="multiidcards()">
    <div formArrayName="ids">
      <div *ngFor="let id of idForm.controls.ids.controls; let i=index" class="panel panel-default">
        <div class="panel-heading">
          <span> {{i + 1}}</span>
          <span class="glyphicon glyphicon-remove pull-right" *ngIf="idForm.controls.ids.controls.length > 1" (click)="removeAddress(i)"></span>
        </div>
        <div class="panel-body" [formGroupName]="i">
          <div class="form-group col-xs-6">
            <label>name</label>
            <input type="text" class="form-control" formControlName="name">            
          </div>
          <div class="form-group col-xs-6">
            <label>role</label>
            <input type="text" class="form-control" formControlName="role">
          </div>
        </div>
      </div>
    </div>

    <div class="margin-20">
      <a (click)="addAddress()" style="cursor: default" class="btn btn-primary">
        Add Another Member
      </a>
    </div>

    <div class="margin-20">
      <button type="submit" class="btn btn-primary pull-right" [disabled]="!idForm.valid">Submit</button>
    </div>
    <div class="clearfix"></div>

    <div class="margin-20">
      <div>myForm details:-</div>
      <pre>Is myForm valid?: <br>{{idForm.valid | json}}</pre>
      <pre>form value: <br>{{idForm.value | json}}</pre>
    </div>
</form>
<form method="POST" enctype="multipart/form-data">
  <input type="file" name="file" #fileinput/><br/><br/>
  <input type="submit" value="Submit" (click)="sendfile()"/>
</form>