<div class="container">
    <button (click)="profilefor()" onclick="this.disabled=true">Generate</button>
        <input  type="text"[(ngModel)]="formno"><br>
          <div id="fields" *ngFor="let field of fields">
              {{field.fieldName}}
          </div>
                <form [formGroup]="regForm" (ngSubmit)="profilefor()" #userForm="ngForm" method="post" role="form"
                style="display: block;">
                    <span *ngFor="let form of nofemps">
                    <td><input type="text" formControlName="username" placeholder="Name" class="form-control" ></td> 
                    <td><input type="email"   formControlName="email" placeholder="EmpID" class="form-control"></td>        
                    <td><input type="password"  formControlName="password"  placeholder="IssuesOn" class="form-control"></td>        
                    <td><input type="password"   formControlName="cpassword" placeholder="Address" class="form-control"></td>        
                    <td><input type="text"   formControlName="mobilenumber" placeholder="CompanyName" class="form-control"></td>
                    <td><input type="text" formControlName="username" placeholder="BloodGroup" class="form-control" ></td>         
                    <td><input type="text" formControlName="username" placeholder="Phone" class="form-control" ></td>         
                    <td><input type="email"   formControlName="email" placeholder="DOB" class="form-control"></td>        
                    <td><input type="password"  formControlName="password"  placeholder="size" class="form-control"></td>        
                    <td><input type="password"   formControlName="cpassword" placeholder="EmployeePic" class="form-control"></td>        
                    <td><input type="text"   formControlName="mobilenumber" placeholder="CompanyLoGo" class="form-con        tro        l"></td>        
                    </span>       
                </form>          
</div>

