<app-header></app-header>
<body>
<div class="function" style="margin-left: 900px;margin-top:19px;">
                <a class="btn btn-primary" href="login" role="button">Signin</a>
                <a class="btn btn-warning" href="IdCardSelection" role="button">MyDesigns</a>
                <button class="btn btn-info" (click)="contactus()" role="button">ContactUs</button>
                
        </div>
<div style="padding-left: 109px;">
        <img   align="center" src="./assets/images/home.jpg"/>
    </div>
    
    <div style="height: 109px;"> </div>

 
        
<!-- <div class="textd">
    <h4>
             IDCreator.com provides you over different professional ID Card template designs.
             All of our ID card templates are free to access! Ranging from standard Employee Badges
              to Service ID Cards, we have been doing this for years and we know IDs.
             But, if you are looking to save time or are simply looking for ideas, we invite you to browse through our pre-made ID Card templates, organized by category
    </h4>
</div> -->
    <div class="text-center">    
                <h3>What We Do</h3><br>
                <div class="row">
                  <div class="col-sm-4">
                    <img src="/assets/images/1.jpg" class="img-responsive" style="width:100%" alt="Image">
                    <h3>  <p>Selection</p></h3>
                  </div>
                  <div class="col-sm-4"> 
                    <img src="/assets/images/2.jpg" class="img-responsive" style="width:100%" alt="Image">
                    <h3>  <p>Printing</p></h3>   
                  </div>
                   <div class="col-sm-4"> 
                    <img src="/assets/images/3.jpg" class="img-responsive" style="width:100%" alt="Image">
                    <h3>  <p>Tracking</p></h3>   
                  </div>
                </div>
              </div><br>
              <br>
              <br>

  
    <!-- <app-menu-container [options]="options"                    
    [gutter]="gutter"                    
    [startAngles]="startAngles"                  
    [wings]="wings"></app-menu-container> -->
</body>
   
              
    
        <app-footer></app-footer>