img {
	height: 10em;
	width: 20em;
	padding: 5px;
	border-radius: 1em;
}

li {
	cursor: pointer;
	list-style-type: none;
	padding: .2em;
	display: inline;
}
.idtemplates{
	margin-top: 5em;
	position: absolute;
	
}
#choosentemp{
	height: 20em;
	width: 30em;
}
.modal-dialog{
	width: 80em;
	border-radius: 50px;
}
.modal-content{
	padding-bottom: 15px;
	margin-left: 127px;
	margin-right: 191px;
	margin-top: 66px;
}

.cart{
	width: 70px;
	height: 10px;
	float: right;
	margin-top: 50px;
	cursor: pointer;
}
img {
	height: 10em;
	width: 20em;
	padding: 5px;
	border-radius: 1em;
}

li {
	cursor: pointer;
	list-style-type: none;
	padding: .2em;
	orientation: landscape;
	display: inline;
}
.idtemplates{
	margin-top: 5em;
	position: absolute;
}
.design{
	font-family: fantasy;
	font-style: initial;
	padding-top: 150px;
}
#choosentemp{
	height: 20em;
	width: 30em;
}
.modal-dialog{
	width: 80em;
	border-radius: 50px;
}
img{
	float: left; 
}
#fields{
    display: inline;
    padding: 15px;;
}
