img {
	height: 10em;
	width: 20em;
	padding: 5px;
	border-radius: 1em;
}

li {
	cursor: pointer;
	list-style-type: none;
	padding: .2em;
	display: inline;
}
.idtemplates{
	margin-top: 5em;
	position: absolute;
	z-index: -1;
}