<app-user></app-user>
<div class="idtemplates">
	<ul class="tabs">
		<!--Display the images with the for loop-->
		<li *ngFor="let template of temps" (click)="onselectTemplate(template)"  data-toggle="modal" data-target="#viewTemp">
			<!--Brings the image from external-->
		<img src="{{template.imgurl}}"/>
		</li>
  </ul>
  <ul class="pagination">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li class="disabled"><a href="#">4</a></li>
    <li><a href="#">5</a></li>
  </ul>
</div>
<div class="container" id="main">
  <!-- Modal -->
  <div class="modal fade" id="viewTemp" role="FadeIn">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body"> 
      <img id="choosentemp" src="{{url}}"/>
        <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clearAll()">Close</button>
    <button type="button" class="btn btn-info">Save Changes</button>			
    <button type="button" class="btn btn-success">Place Order</button>	
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
