<app-user></app-user>
<div class="idtemplates">
	<ul class="tabs">
		<!--Display the images with the for loop-->
		<li *ngFor="let template of temps" (click)="onselectTemplate(template)"  data-toggle="modal" data-target="#viewTemp">
			<!--Brings the image from external-->
		<img src="{{template.imgurl}}"/>
		</li>
	</ul>
</div>
<div class="container" id="main">
  <!-- Modal -->
  <div class="modal fade" id="viewTemp" role="FadeIn">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
      <img id="choosentemp" src="{{url}}"/>
      <label>Full Name</label> <input type="text" placeholder="Please Enter FullName" [(ngModel)]="inputValue">{{inputValue}}
        <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-info">Save Changes</button>			
    <button type="button" class="btn btn-success">Place Order</button>	
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
