<app-user></app-user>
<div class="idtemplates" >
<ul>
<li class="col-xs-12 col-md-4" *ngFor="let product of productList"     data-toggle="modal" (click) ="selectedProduct(this.product)"  data-target="#myModal" ><img src="./assets/templates/{{product.imageURL}}.jpg"/>
          <!-- (click)="selectedProduct(product.id)" -->
  </li>
  </ul>
</div>


  <div class="container">
  <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content" style="padding-bottom: 135px;
        margin-left: 23px;
        margin-right: 74px;    margin-top: 66px;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4  style="color:#0004FF;font-family: cursive;" class="modal-title" >{{url?.id}}</h4>
          </div>




          <div class="modal-body">
          <img src="./assets/templates/{{url?.imageURL}}.jpg"/>
                  
  <div class="design">
    
  Price:<b>{{url?.price}}$</b><br>
  Size1:{{url?.size1}}<br>
  Size2:{{url?.size2}}<br>
  </div>
  
 </div>
           <!-- <div  class="col-md-6">
              <p>Select Name</p>
            <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"></angular2-multiselect>
           </div> -->
          
           <!-- <button (click)="show = !show">{{show ? 'show' : 'show'}}</button> -->
           <h5>Enter No of Employees</h5>
           
              <div>
                  <input  type="text"   [(ngModel)]="formno" class="form-control" ><button (click)="profilefor()">Generate</button>
                </div>
<form [formGroup]="idForm" (ngSubmit)="idsubmit(idForm.value)"  enctype="multipart/form-data">
                  <table class="table table-striped table-dark">
                    <thead>
                      <tr>
                          <th>Name</th>
                          <th>EmployeeId</th>
                          <th>Issued Date</th>
                          <th>Address</th>
                          <th>companyname</th>
                          <th>BloodGroup</th>
                          <th>ContactNumber</th>
                          <th>Dob</th>
                          <th>Size</th>
                          <th>Employee Image</th>
                          
                          
                      </tr> 
                    
                    </thead>
                    
                 <br><br>
                    <tbody >
                      <tr *ngFor="let form of nofemps">
                          <td><input type="text"   required  placeholder="name" formControlName="name"  class="form-control"></td>
                          <td><input type="text" required  placeholder="EmployeeId"  formControlName="empid" class="form-control"></td>
                            <td><input type="date" required  placeholder="Issued Date"  formControlName="issueddate" class="form-control"></td>
                              <td><input type="text" required  placeholder="Address" formControlName="address" class="form-control"></td>
                              <td><input type="text" required  placeholder="companyname" formControlName="companyname"  class="form-control"></td>
                                <td><input type="text" required  placeholder="BloodGroup" formControlName="bloodgroup"  class="form-control"></td>
                                <td><input type="text"required   placeholder="ContactNumber" formControlName="mobilenumber" class="form-control"></td>
                                <td><input type="date" required  placeholder="Dob"  formControlName="dob" class="form-control"></td>
                                  <td><select class="form-control"  id="size" formControlName="size">
                                    <option value="-1">Select size</option>
                                       
                                                   <option value=" 3.370 x 2.125 in (85.60 x 53.98 mm)">size1</option>
                                                    <option value="4.134 x 2.913 in (105 x 74mm)">size2</option>
                                                            </select></td>
                                    <td><input type="file"  required formControlName="UserImage"  #UserImage class="form-control"></td>
                                                  
                      </tr>             
                    </tbody>
                  </table>
                  <div class="form-group">
                      <div class="col-sm-3" >
                  <input type="submit"  class="btn btn-primary">
                </div>
              </div>
                </form>
                </div>

           

           
          <div class="modal-footer">
              
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-warning" value="{{url?.price}}" (click)="selectedItem(url)"  data-dismiss="modal">Add TO Cart</button>
            <button type="button" class="btn btn-primary" >Buynow</button>
          </div>
        </div>
        
      </div>
    </div>
    

  
  
 