.fullpage{
	background-image: url("/assets/images/greenone.jpg");
	margin-top: -20px;
	height: 500px;
}
.menu{
	width: 100px;
	border-radius: 30px;
	margin-left: 92%
}
.tabs{
	list-style: none;
}
.welcomemsg{
	width: 180px;
	margin-top: -50px;	
}
#menu{
	cursor: pointer;
}
#head{
	position: relative;
}
