.menu
{
    float: right;    
    position: fixed;
    margin-top: 10px;    
    margin-left: 1000px;
}
.index
{
   
}
li{
    display: inline;
    list-style: none;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-radius: 3px;
}
li:hover{
    background-color: rgb(20, 131, 109);
    color: white;
}
#down
{
    float: right;
}

#myCarousel
{
    position: absolute;
    z-index: -1;
    margin-top: 50px;
}
.aboutus
{
    background-color: rgb(192, 99, 11);
    height: 500px;
    position: absolute;
    z-index: -1;
    margin-top: 550px;
}
.contactus
{
    background-color: black;
    color: white;
    height: 700px;
    position: absolute;
    z-index: -1;
    margin-top: 1050px;
}

