<app-header></app-header>
<body>
<div class="container">

		<div style="height:20px;width:50px;">
				
					</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-login">
				<div class="panel-heading">
					<div class="row">
						
						<div class="text-center">
							<a href="register" class="active" id="register-form-link">Register</a>
						</div>
					</div>
					<hr>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12"><br>
							{{statusCode}}
							<div *ngIf="statusCode; else processing">
								<div *ngIf="statusCode === 201" [ngClass] = "'success'">
									Profile added successfully.
								</div>
								<div *ngIf="statusCode === 409" [ngClass] = "'success'">
								 Profile already exists.
								</div>
								<div *ngIf="statusCode === 200" [ngClass] = "'success'">
								 Profile updated successfully.
								</div>
								<div *ngIf="statusCode === 204" [ngClass] = "'success'">
								 Profile deleted successfully.
								</div>
								<div *ngIf="statusCode === 500" [ngClass] = "'error'">
									 Internal Server Error.
								</div>								
							  </div>
							<form [formGroup]="regForm" (ngSubmit)="onRegFormSubmit()" #userForm="ngForm" method="post" role="form"
										style="display: block;">
								<label>Username</label>
								<div class="form-group" id=""> 
									<input type="text" formControlName="username" placeholder="enter username" class="form-control" (keyup)="checkUser()" [(ngModel)]="checkuser">
								</div>
								<label>Email</label>
								<div class="form-group">
									<input type="email"   formControlName="email" placeholder="Email Address" class="form-control">
								</div>
								<label>Password</label>
								<div class="form-group">
									<input type="password"  formControlName="password"  placeholder="Password" class="form-control">
								</div>
								<label>Confirm Password</label>
								<div class="form-group">
									<input type="password"   formControlName="cpassword" placeholder="Confirm Password" class="form-control">
								</div>
								<label>MobileNo</label>
								<div class="form-group" id="">
									<input type="text"   formControlName="mobilenumber" placeholder="mobilenmber" class="form-control">
								</div>
								<div class="form-group" id="">
									<label>Address</label>
									<textarea formControlName="address" class="form-control"></textarea>
								</div>
								<div class="form-group" id="">
								<mat-form-field id="roles">
									<mat-select placeholder="Select Role" formControlName="role">
									  <mat-option *ngFor="let role of roles" [value]="role.roleName">
										{{ role.roleName }}
									  </mat-option>
									</mat-select>
								  </mat-form-field>
								</div>
								<div class="col-sm-6 col-sm-offset-3">
									<input type="submit"  value="Register Now" class="form-control btn btn-register" 
									[disabled]="!userForm.form.valid" >
								</div>
							</form>
							<br>
						</div>
						&nbsp;
						<div class="text-center">
								<a href="login" id="login-form-link"><h4>Already member you sign in</h4></a>
							</div>
					
					</div>
				</div>
				
			</div> 
		</div>
	</div>

	<div style="height:160px;width:50px;">
		
			</div>
</div>										
</body>									
<app-footer></app-footer>											
										
										
	